@using Microsoft.AspNetCore.Components.Routing
@using aspnet_shopping_cart.Components
@using Microsoft.AspNetCore.Components.Web
@using aspnet_shopping_cart.Models
@using aspnet_shopping_cart.Services
@inject CartService MyCartService




<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-navbar border-bottom box-shadow mb-3">
    <NavLink class="nav-link" style="color:darkorchid; font-size: 30px" href="/">Shopping Cart</NavLink>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav ml-3 mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <NavLink class="nav-link text-dark" href="/">Home</NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link text-dark" href="/Privacy">Privacy</NavLink>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        <ul class="navbar-nav ml-3 mt-2 mt-lg-0">
            <li class="nav-item">
                <NavLink class="nav-link text-dark" href="/Mycart"><i class="fa fa-shopping-cart fa-2x" aria-hidden="true"></i></NavLink>
            </li>
            <li class="nav-item">
                <span id="cartCount" class="badge badge-light">@MyCartService.GetCart().Pcount</span>
            </li>
        </ul>
    </div>
</nav>

@code {

}
